*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.custom-toggler {
    border-color: #ffffff; /* Cambia el color del borde del botón */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* Cambia el color de las líneas del icono */
}

:is(h1, h2, h3, h4, h5) {
    font-weight: 700
}
:is(i, p, a) {
    font-weight: 400;
}
h1 {
    color: #707070;
    
}
h2 {
    color: #ffff;
}


li {
    list-style: none;
    i {
        font-size: 50px;
        color: #ffff;
    }
}

.navbar {
    background-color: #E83E8C;
    .navbar-brand img {
        width: 120px;
    }
    .navbar-nav {
        .nav-link {
            color: #fff;
            transition: all 0.5s ease;
            .active {
                color: #fff;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.card {
    .card-img {
        overflow: hidden;
        img {
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.cards-icon-container {
    background-color: #17A2B8;
}

footer {
    background-color: #E83E8C;
    .box-img-footer img{
        width: 50px;
    }
}

